/**
 * Checkboxes
 */


.parent:not(:first-of-type) {
  margin-top: 16px;
}
.child {
  margin-left: 16px;
}

.child li:first-of-type {
  margin-top: 8px;
}

.child li {
  list-style: none;
  margin-bottom: 8px;
}
