.FilterBar {
  position: relative;
  padding: 16px 0;
}

.FilterBar-item {
  display: inline-block;
  position: relative;
}

.FilterComponent {
  position: absolute !important;
  top: 56px !important;
  left: 0px !important;
  z-index: 10 !important;
  background: #ffffff !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 14px 36px 2px rgba(0, 0, 0, 0.15) !important;
  padding: 24px !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  white-space: normal !important;
  display: inline-block !important;
  visibility: visible !important;
}

.FilterComponent--property {
  min-width: 270px;
}
