// Base
$base-font-family: "myriad-pro", sans-serif;
$base-font-size:   16px;
$base-line-height: 1.6;
$base-font-weight: 400;
$base-line-height: 36px;


// Font weight scale
$font-weight-light:   300;
$font-weight-regular: 400;
$font-weight-medium:  500;
$font-weight-bold:  600;


// Font size scale
$font-size--xxxl: 46px; // 46px
$font-size--xxl: 38px; // 38px
$font-size--xl: 30px;  // 30px
$font-size--l: 24px;   // 24px
$font-size--m: $base-font-size;   // 18x
$font-size--s: 16px;   // 16px
$font-size--xs: 14px;  // 14px

// Spacing
$spacing-unit:     30px;
