<section class="pt5 bg-grey">
    <div class="Grid Grid--3">

    		<!-- grid item, containing a card -->
    		<div class="item-1">
            <div class="Card Card--radius pa4">
                <div class="Flex-row Flex--nr">
                    <div class="Avatar Avatar--round Avatar--m mr3" style="background: #4A8CFF;" title="Emiliya Perevalova">
                        <div class="Avatar--initials">EP</div>
                        <div class="Avatar--img Avatar--round" style="background-image: url('https://randomuser.me/api/portraits/women/44.jpg')"></div>
                    </div><!-- /.Avatar -->
                    <div class="mt2">
                        <h3 class="f5"><a class="Link Link--underline-hover color-grey-80" href="#">Emiliya Perevalova</a></h3>
                        <div class="Card-location">
                          <i class="material-icons md-18">location_on</i>
                          <p class="ml4 f2">Moscow, Russia</p>
                        </div>
                    </div>
                </div><!-- /.Flex-row-->
                <article class="mt2">
                    <p class="f2 color-grey-60">Investment Range</p>
                    <h3 class="f5">£25,000 - £500,000</h3>
                    <p class="Card-description mt2 f2">Working for over 20 years in private equity, venture capital, SWFs, funding and fundraising worldwide. I have a network of strategic contacts with inv...</p>
                    <h3 class="f3 mt2">Areas of Expertise</h3>
                    <p class="color-grey-60 f2">Tech, Hydrofarming, Space</p>
                    <div class="Card-actions mt3">
                        <a href="#" class="Button Button--primary Button--s mr1">More Details</a>
                        <a href="#" class="Button Button--secondary Button--s mr1">Nudge</a>
                        <a href="#" class="Icon Icon--s Button Button--secondary Button--icon Tooltip mr1">
                            <i class="material-icons md-18">star</i>
                            <span class="Tooltip-text Tooltip-text--top Tooltip-text--default" >Shortlist</span>
                        </a>
                    </div><!-- /.Card-actions -->
                </article>
            </div><!-- /.Card -->
    		</div><!-- /.item-1 -->

    		<!-- grid item, containing a card -->
    		<div class="item-2">
            <div class="Card Card--radius pa4">
                <div class="Flex-row Flex--nr">
                    <div class="Avatar Avatar--round Avatar--m mr3" style="background: #55C6CC;">
                        <div class="Avatar--initials">MW</div>
                        <div class="Avatar--img Avatar--square"></div>
                    </div><!-- /.Avatar -->
                    <div class="mt2">
                        <h3 class="f5"><a class="Link Link--underline-hover color-grey-80" href="#">Melissa White</a></h3>
                        <div class="Card-location">
                          <i class="material-icons md-18">location_on</i>
                          <p class="ml4 f2">Liverpool, UK</p>
                        </div>
                    </div>
                </div><!-- /.Flex-row-->
                <article class="mt2">
                    <p class="f2 color-grey-60">Investment Range</p>
                    <h3 class="f5">£74,680 - £224,040</h3>
                    <p class="Card-description mt2 f2">Working for over 20 years in private equity, venture capital, SWFs, funding and fundraising worldwide. I have a network of strategic contacts with inv...</p>
                    <h3 class="f3 mt2">Areas of Expertise</h3>
                    <p class="color-grey-60 f2">Tech, Hydrofarming, Space</p>
                    <div class="Card-actions mt3">
                        <a href="#" class="Button Button--primary Button--s mr1">More Details</a>
                        <a href="#" class="Button Button--secondary Button--s mr1">Nudge</a>
                        <a href="#" class="Icon Icon--s Button Button--secondary Button--icon Tooltip mr1">
                            <i class="material-icons md-18">star</i>
                            <span class="Tooltip-text Tooltip-text--top Tooltip-text--default" >Shortlist</span>
                        </a>
                    </div><!-- /.Card-actions -->
                </article>
            </div><!-- /.Card -->      
    		</div>
    		<!-- /.item-2 -->

    		<!-- grid item, containing a card -->
    		<div class="item-3">
            <div class="Card Card--radius pa4">
                <div class="Flex-row Flex--nr">
                    <div class="Avatar Avatar--round Avatar--m mr3" style="background: #556BCC;" title="Hugo Assunção">
                        <div class="Avatar--initials">HA</div>
                        <div class="Avatar--img Avatar--round" style="background-image: url('https://randomuser.me/api/portraits/men/32.jpg')"></div>
                    </div><!-- /.Avatar -->
                    <div class="mt2">
                        <h3 class="f5"><a class="Link Link--underline-hover color-grey-80" href="#">Hugo Assunção</a></h3>
                        <div class="Card-location">
                          <i class="material-icons md-18">location_on</i>
                          <p class="ml4 f2">Madrid, Spain</p>
                        </div>
                    </div>
                </div><!-- /.Flex-row-->
                <article class="mt2">
                    <p class="f2 color-grey-60">Investment Range</p>
                    <h3 class="f5">£0 - £1,250,040</h3>
                    <p class="Card-description mt2 f2">Working for over 20 years in private equity, venture capital, SWFs, funding and fundraising worldwide. I have a network of strategic contacts with inv...</p>
                    <h3 class="f3 mt2">Areas of Expertise</h3>
                    <p class="color-grey-60 f2">Tech, Hydrofarming, Space</p>
                    <div class="Card-actions mt3">
                        <a href="#" class="Button Button--primary Button--s mr1">More Details</a>
                        <a href="#" class="Button Button--secondary Button--s mr1">Nudge</a>
                        <a href="#" class="Icon Icon--s Button Button--secondary Button--icon Tooltip mr1">
                            <i class="material-icons md-18">star</i>
                            <span class="Tooltip-text Tooltip-text--top Tooltip-text--default" >Shortlist</span>
                        </a>
                    </div><!-- /.Card-actions -->
                </article>
            </div><!-- /.Card -->
    		</div>
    		<!-- /.item-3 -->
    	</div>
    	<!-- /.Grid -->
</section>
