<div class="FilterPopup FilterPopup--funding">
  <h5>Set your funding type</h5>
  <div class="mt4">
      <input class="material-icons" checked="checked" type="checkbox">
          <label for="test">Equity</label>
      </input>
  </div>
  <div class="mt3">
      <input class="material-icons" type="checkbox">
          <label for="test">Senior Debt</label>
      </input>
  </div>
  <div class="mt3">
      <input class="material-icons" type="checkbox">
          <label for="test">Mezzanine</label>
      </input>
  </div>
  <div class="mt3">
      <input class="material-icons" type="checkbox">
          <label for="test">Off Plan Sales</label>
      </input>
  </div>

  <div class="Flex-row mt4">
      <div class="Flex-column">
        <button class="Link">Clear</button>

      </div>
      <div class="Flex-column tr">
        <button class="Link color-brand">Apply filter</button>
      </div>
  </div>
    <!--<span class="FilterPopup-close">close</span>-->
</div>
