<div class="ml3 mr3">
  <div class="Container">
      <div class="FilterBar">

          <div class="FilterBar-item mr2">

            <button class="Button Button--tertiary Button--m">Property Types</button>

            <div class="FilterComponent FilterComponent--property">
                  <label class="Control Control--checkbox">
                      Residential
                      <input type="checkbox" checked="checked">
                      <div class="Control__indicator"></div>
                  </label>
              </div><!--/.FilterComponent -->

          </div><!--/.FilterBar-item -->

          <div class="FilterBar-item mr2">

              <button class="Button Button--tertiary Button--m">Funding Type</button>

              <div class="FilterComponent FilterComponent--property">
                  <div>
                      <label class="Control Control--checkbox">
                        Equity
                        <input type="checkbox" checked="checked">
                        <div class="Control__indicator"></div>
                      </label>
                  </div>
                  <div class="mt3">
                      <label class="Control Control--checkbox">
                        Senior Debt
                        <input type="checkbox">
                        <div class="Control__indicator"></div>
                      </label>
                  </div>
                  <div class="mt3">
                      <label class="Control Control--checkbox">
                        Mezzanine
                        <input type="checkbox">
                        <div class="Control__indicator"></div>
                      </label>
                  </div>
                  <div class="mt3">
                      <label class="Control Control--checkbox">
                        Off Plan Sales
                        <input type="checkbox">
                        <div class="Control__indicator"></div>
                      </label>
                  </div>

                  <div class="Flex-row mt4">
                      <div class="Flex-column">
                        <button class="Link">Clear</button>
                      </div>
                      <div class="Flex-column tr">
                        <button class="Link color-brand">Apply filter</button>
                      </div>
                  </div>
              </div><!--/.FilterComponent -->

          </div><!--/.FilterBar-item -->

          <div class="FilterBar-item">

              <button class="Button Button--tertiary Button--m">Price Range</button>

          </div><!--/.FilterBar-item -->
    </div><!--/.FilterBar -->
  </div><!--/.Container -->
</div><!--/.ma3 -->
