<div class="FilterPopup FilterPopup--quicklinks">
  <div>
      <input class="material-icons" checked="checked" type="checkbox">
      <label for="test">Nudged</label>
  </div>
  <div class="mt2">
      <input class="material-icons" type="checkbox">
      <label for="test">Shortlisted</label>
  </div>
  <div class="mt2">
      <input class="material-icons" type="checkbox">
      <label for="test">Hide Nudged</label>
  </div>
  <div class="mt2">
      <input class="material-icons" type="checkbox">
      <label for="test">UK Only</label>
  </div>
    <div class="FilterPopup-footer">
        <div class="Flex-row Flex--nr">
            <div class="Flex-column">
            <button class="Link">Clear</button>
            </div>
            <div class="Flex-column tr">
            <button class="Link color-brand">Apply filter</button>
            </div>
        </div>
    </div>

</div>
