<div class="FilterPopup FilterPopup--country">
  <h5>Select a country</h5>
  <div class="parent mt4">
      <input  class="material-icons" type="checkbox" />
          <label>Europe</label>
      </input>
  </div>
  <div>
      <ul class="child">
          {{ range .Site.Data.countries.continent.europe.country }}
          <li>
              <input class="material-icons" type="checkbox" />
                  <label>{{ .name }}</label>
              </input>
          </li>
          {{ end }}
      </ul>
  </div><!-- / end Europe -->
  <div class="parent mt4">
      <input  class="material-icons" type="checkbox" />
          <label>Asia and Oceania</label>
      </input>
  </div>
  <div>
      <ul class="child">
          {{ range .Site.Data.countries.continent.asia.country }}
          <li>
              <input class="material-icons" type="checkbox" />
                  <label>{{ .name }}</label>
              </input>
          </li>
          {{ end }}
      </ul>
  </div><!-- / end Asia -->
  <div class="parent mt4">
      <input  class="material-icons" type="checkbox" />
          <label>North America</label>
      </input>
  </div>
  <div>
      <ul class="child">
          {{ range .Site.Data.countries.continent.northamerica.country }}
          <li>
              <input class="material-icons" type="checkbox" />
                  <label>{{ .name }}</label>
              </input>
          </li>
          {{ end }}
      </ul>
  </div><!-- / end North America -->
  <div class="parent mt4">
      <input  class="material-icons" type="checkbox" />
          <label>South America</label>
      </input>
  </div>
  <div>
      <ul class="child">
          {{ range .Site.Data.countries.continent.southamerica.country }}
          <li>
              <input class="material-icons" type="checkbox" />
                  <label>{{ .name }}</label>
              </input>
          </li>
          {{ end }}
      </ul>
  </div><!-- / end South America -->
  <div class="parent mt4">
      <input  class="material-icons" type="checkbox" />
          <label>Africa</label>
      </input>
  </div>
  <div>
      <ul class="child">
          {{ range .Site.Data.countries.continent.africa.country }}
          <li>
              <input class="material-icons" type="checkbox" />
                  <label>{{ .name }}</label>
              </input>
          </li>
          {{ end }}
      </ul>
  </div><!-- / end Africa -->

  <div class="Flex-row Flex--nr mt4">
      <div class="Flex-column">
        <button class="Link">Clear</button>
      </div>
      <div class="Flex-column tr">
        <button class="Link color-brand">Apply filter</button>
      </div>
  </div>

</div>
