<div class="FilterPopup FilterPopup--quicklinks">
  <h5>Quick Links</h5>
  <div class="mt4">
      <input class="material-icons" checked="checked" type="checkbox">
          <label for="test">UK Only</label>
      </input>
  </div>
  <div class="mt3">
      <input class="material-icons" type="checkbox">
          <label for="test">My Matches</label>
      </input>
  </div>
  <div class="mt3">
      <input class="material-icons" type="checkbox">
          <label for="test">Part Funded</label>
      </input>
  </div>
  <div class="mt3">
      <input class="material-icons" type="checkbox">
          <label for="test">Shortlisted</label>
      </input>
  </div>
  <div class="mt3">
      <input class="material-icons" type="checkbox">
          <label for="test">Featured</label>
      </input>
  </div>

  <div class="Flex-row Flex--nr mt4">
      <div class="Flex-column">
        <button class="Link">Clear</button>

      </div>
      <div class="Flex-column tr">
        <button class="Link color-brand">Apply filter</button>
      </div>
  </div>

</div>
