<div class="FilterPopup FilterPopup--funding">
  <div>
      <input class="material-icons" checked="checked" type="checkbox">
          <label for="test">Equity</label>
      </input>
  </div>
  <div class="mt2">
      <input class="material-icons" type="checkbox">
          <label for="test">Senior Debt</label>
      </input>
  </div>
  <div class="mt2">
      <input class="material-icons" type="checkbox">
          <label for="test">Mezzanine</label>
      </input>
  </div>
  <div class="mt2">
      <input class="material-icons" type="checkbox">
          <label for="test">Off Plan Sales</label>
      </input>
  </div>

  <div class="Flex-row Flex--nr mt4">
      <div class="Flex-column">
        <button class="Link">Clear</button>

      </div>
      <div class="Flex-column tr">
        <button class="Link color-brand">Apply filter</button>
      </div>
  </div>

</div>
