<div class="FilterPopup FilterPopup--taxrelief">

  {{ range .Site.Data.taxrelief.relief }}
  <div class="mt2">
      <input class="material-icons" type="checkbox">
          <label for="test">{{ .name }}</label>
      </input>
  </div>
  {{ end }}

  <div class="FilterPopup-footer">
    <div class="Flex-row Flex--nr">
        <div class="Flex-column">
          <button class="Link">Clear</button>

        </div>
        <div class="Flex-column tr">
          <button class="Link color-brand">Apply filter</button>
        </div>
    </div>
  </div>
</div>
