<div class="bb">
  <div class="Container">
      <div class="Filter ml3 mr3">

          <div class="Filter-item mr2">

            <button class="Button Button--tertiary Button--m js-FilterPopup-trigger">Property Types</button>
          {{ partial "filter-popup-property.html" . }}

          </div><!--/.Filter-item -->

          <div class="Filter-item mr2">

              <button class="Button Button--tertiary Button--m js-FilterPopup-trigger">Funding Type</button>

              {{ partial "filter-popup-funding.html" . }}

          </div><!--/.Filter-item -->

          <div class="Filter-item">

              <button class="Button Button--tertiary Button--m js-FilterPopup-trigger">Price Range</button>

              {{ partial "filter-popup-price.html" . }}

          </div><!--/.Filter-item -->
    </div><!--/.Filter -->
  </div><!--/.Container -->
</div><!--/.ma3 -->
