<div class="Container">
    <div class="Flex">
        <div class="Flex-row">
            <div class="Flex-column Flex--50">
                <div class="FilterSearch">
                    <div class="Search pb3">
                        <span class="Search__icon--l"><i class="material-icons">search</i></span>
                    		<input class="Search__input Input Input--default Input--l" type="search" placeholder="What are you looking for?" id="textInput">
                    </div>
                </div>
            </div><!-- /.Flex-column -->
            <div class="Flex-column Flex--15 pb3">
                <div class="FilterButton">
                    <button class="Button Button--primary Button--l width-100">Apply Search</button>
                </div>
            </div><!-- /.Flex-column -->
            <div class="Flex-column Flex--15 pb3">
                <button class="Button Button--tertiary Button--s mr2">Save</button>
                <button class="Button Button--tertiary Button--s">Clear</button>
            </div><!-- /.Flex-column -->
        </div><!-- /.Flex-row -->
    </div><!-- /.Flex -->
</div><!-- /.Container -->
